export(read.vhica, CUB, div,HTsummary)
S3method(plot, vhica)
S3method(image, vhica)
importFrom("grDevices", "colorRampPalette")
importFrom("graphics", "abline", "axis", "frame", "image", "layout", "par", "plot", "points", "text", "title")
importFrom("stats", "coef", "lm", "p.adjust", "pnorm", "qnorm", "resid", "sd")
importFrom("utils", "read.table", "write.table")
importFrom("graphics", "legend", "rug")
importFrom("stats", "density", "median", "shapiro.test")
